body {
  background-color: #ffffed;
  color: #444;
  font-family: Helvetica;
  font-weight: 300;
  margin: 0;
  padding: 5px 20px 10px 20px;
}

.completed-box,
.completed-box-disabled,
.date,
.page-links,
.page-title,
.questions-container {
  text-align: center;
}

.completed-box,
.completed-box-disabled,
.completed-submit {
  color: #333;
}

.completed-box, .completed-box-disabled {
  border-radius: 10px;
  font-size: 0.8em;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 25px auto;
  width: 200px;
}

.completed-box {
  background-color: #add8e6;
  border: solid 1px #555;
}

.completed-box-disabled {
  background-color: #ddd;
  border: solid 1px #555;
}

.completed-submit, .completed-submit-disabled {
  background-color: transparent;
  border: none;
  font-weight: 600;
  height: 100%;
  margin: 0;
  outline: 0;
  width: 100%;
}

.completed-submit {
  cursor: pointer;
}

.completed-submit-disabled {
  color: #333;
}

.date, .goal {
  border-bottom: solid 1px #999;
}

.date {
  background-color: #aaa;
  color: #fff;
  font-family: Courier New;
  font-size: 1.85em;
  font-weight: 700;
  padding: 10px 5px;
}

.description, .goal {
  padding: 15px;
}

.description {
  font-size: 1.15em;
}

.goal {
  background-color: #eee;
  font-size: 1.25em;
}

.mail-link,
.page-link,
.sms-link {
  color: #00f;
  text-decoration: none;
}

.mail-link:hover,
.page-link:hover,
.sms-link:hover {
  text-decoration: underline;
}

.page-links,
.page-title,
.workout-container {
  max-width: 640px;
}

.page-link {
  font-size: 1.15em;
  font-weight: 600;
  padding: 0 10px;
}

.page-links {
  margin: 20px auto 30px auto;
}

.page-title {
  color: #337744;
  font-family: Tahoma;
  font-size: 2.5em;
  font-weight: 900;
  margin: 35px auto 0 auto;
}

.questions-container {
  background-color: #eee;
  border-top: solid 1px #999;
  padding: 20px;
}

.questions-label {
  font-weight: 500;
  margin-left: 3px;
  text-decoration: underline;
}

.workout-container {
  background-color: #fff;
  border-radius: 25px;
  border: solid 1px #999;
  margin: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 840px) {
  body {
    background-color: #cfc;
  }

  .date {
    font-size: 1.8em;
  }

  .description {
    font-size: 1.1em;
  }

  .page-title {
    font-size: 2.25em;
  }
}

@media only screen and (max-width: 640px) {
  body {
    background-color: #c6deff;
  }

  .date {
    font-size: 1.75em;
  }

  .description {
    font-size: 1.05em;
  }

  .mail-link, .sms-link {
    display: block;
    margin-top: 5px;
  }

  .page-title {
    font-size: 2em;
  }
}
