<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Workout of the Day (WOD)</title>
    <link href="/assets/index.css" media="print" onload="this.media = 'all';" rel="stylesheet" type="text/css"/>
    <script defer src="/assets/index.js" type="text/javascript"></script>
  </head>
  <body>
    <h1 class="page-title">Workout of the Day</h1>
    <div class="workout-container">
      <div class="date">{{ .Date }}</div>
      <div class="goal-container">
        <label class="goal-label">Goal:</label>
        <span class="goal">{{ .Goal }}<span>
      </div>
      <div class="description">{{ .Description }}</div>
      <div class="questions-container">
        <label class="questions-label">Questions about this Workout?</label>
        {{ if .SmsTo }}
        <a class="sms-link" href="sms:{{ .SmsTo }}">{{ .SmsTo }}</a><span>
        {{ else if .MailTo }}
        <a class="mail-link" href="mailto:{{ .MailTo }}">{{ .MailTo }}</a><span>
        {{ end }}
    <div>
  </body>
</html>
