<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Workout of the Day (WOD)</title>
    <link href="/assets/favicon.ico" rel="apple-touch-icon"/>
    <link href="/assets/index.css" media="print" onload="this.media = 'all';" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1 class="page-title">Workout of the Day</h1>
    <div class="workout-container">
      <div class="date">{{ .Date }}</div>
      <div class="goal">{{ .Goal }}</div>
      <div class="description">{{ .Description }}</div>
      <div class="completed-container">
        <div class="completed-box">
          {{ if .MarkedCompleted }}
            <label class="completed-label">Completed:</label>
            <span class="num-completed">{{ .Completed }}</span>
          {{ else }}
            <form action="/{{ .Id }}/completed" method="post">
              <input class="completed-submit" type="submit" value="I did it!"/>
            </form>
          {{ end }}
        </div>
      </div>
      <div class="questions-container">
        <label class="questions-label">Questions about this Workout?</label>
        {{ if .SmsTo }}
        <a class="sms-link" href="sms:{{ .SmsTo }}">{{ .SmsTo }}</a><span>
        {{ else if .MailTo }}
        <a class="mail-link" href="mailto:{{ .MailTo }}">{{ .MailTo }}</a><span>
        {{ end }}
      </div>
    </div>
  </body>
</html>
