<!DOCTYPE html>
<html lang="en">
  {{ template "head" }}
  <body>
    {{ template "page-title-and-links" }}
    {{ if .Historical }}
      {{ template "historical-workout" . }}
    {{ else }}
      {{ template "workout" . }}
    {{ end }}
  </body>
</html>
